

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  transition: .30s;  
  
  
}

body.dark {
  background: #292c35;
}
.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem; 
   
}
header{
    background-color: #101026;
    height: 120px;
    
}
header img{
 
  width: 120px;
  height: 100px;
  justify-items: start;
}
.botao{
  margin: 12px;
  display: flex;
  justify-content: flex-end;
}
.navbar{
  display: flex;
  height: 150px;
  width: 120px;
  justify-content: flex-end;
  margin: 0;
}
hr {
  margin: 0;
}

.rodapé {
  padding: 1em;
}

.lista-rodapé {
  display: none;
}

.checkbox {
  opacity: 0;
  position: relative;
  
}


.checkbox:checked + .label .ball {
  transform: translateX(24px);
 
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 6px;
  left: 1px;
  height: 22px;
  width: 26.0px;
  transform: translateX(0px);
  transition: transform 0.3s linear;
}

.label {
  background-color: #111;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px;
  position: relative;
  height: 32px;
  width: 52px;
  transform: scale(1.5);
}



.checkbox:checked + .label .ball {
  transform: translateX(24px);
  
  
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}

@media screen and (min-width: 1024px){

  .rodapé{
      display: flex;
      justify-content: space-around;
  }

  .lista-rodapé {
      display: block;
  }

  .lista-rodapé__item{
      display: flex;
      align-items: center;
      margin: 0.6em 0;
  }

  .lista-rodapé__link {
      color: var(--cinza);
      text-decoration: none;
      margin: 0.6em;
  }



  .rodapé__titulo {
      font-size: 24px;
  }

}

@media  screen and (min-width: 1728px){ 

  .lista-rodapé {
      padding-left: 1em;
  }

  .rodapé {
      padding: 3em 0;
  }
}

@media screen and (min-width: 992px) {
  .content {
      max-width: 992px;
      height: auto;
      margin: 1rem auto;
      border-radius: 1rem;
      
      
  }
}
